node_modules/
/packages/**/dist

.npmrc

.parcel-cache
dist
bundle

# yarn 2 files
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# coverage reports
coverage/
/junit.xml

# GitLab Pages
/public

# artifacts
/storybook-static

._.DS_Store
.DS_Store
npm-debug.log
yarn-error.log
lerna-debug.log
.rakeTasks
.yarn-cache
